## Analyzing Twitter Data Using Social Feed Manager

Social Feed Manager (SFM) collects individual posts–tweets, photos, blogs–from social
media sites. These posts are collected in their native, raw data format called JSON and
can be exported in many formats, including excel spreadsheets. In this document, we
will introduce the steps and methods we used in our project to extract useful information
from SFM. The goal is to get the frequency of hashtags and retweet users of the target
Twitter user from the Twitter data. The information of the frequency will be constructed
in dataframes with descending orders.

● A thorough user guide of SFM can be found here:

https://sfm.readthedocs.io/en/latest/userguide.html

## Define Libraries

In [ ]:
# Import useful packages 
from collections import Counter
import pandas as pd

## Exploratory Data Analysis

In [ ]:
# Read the excel file and store it in the df data frame
df = pd.read_excel('Tweets for Digital collection project 20210526.xlsx')

In [ ]:
# Print out the number of rows and columns of the data frame
print(df.shape)

(16252, 37)

In [ ]:
# Check for the total number of posts for each Twitter user
df['user_screen_name'].value_counts()

tsmullaney    3460
hild_de       3301
cfmeyskens    3299
AmandaUCSC    3251
ankeqiang     1504
vischina      1437
Name: user_screen_name, dtype: int64

## Analysis for Hashtags & Retweet Accounts

### Define the Two Input Variables: the target users and the number of observations per twitter account

In [ ]:
# First To define/choose the target user(s) that you want to analyze
# Then you will redefine the value of the input in this cell
# You will also need to determine the number of observations you want for all target Twitter usrs
input_users = ['tsmullaney','hild_de']
number = 20

### Filtering the Frequency of using hashtags from the Users of Your Choice

In [ ]:
# In this cell, you will run the following code to get your output of the frequecy of hashtags used from the user(s) you selected
# first read through the inputs and find the users selected 
df_hashtag = df[df['user_screen_name'].isin(input_users)]

# Drop all NAs and convert all hashtags to lower cases 
df_hashtag = df_hashtag[df_hashtag['hashtags'].notna()]
df_hashtag['hashtags'] = df_hashtag['hashtags'].str.lower()

# The following lines of code are for spliting multiple hashtags from a post
s = df_hashtag['hashtags'].str.split(' ').apply(pd.Series, 1).stack()
s.index = s.index.droplevel(-1)
s.name = 'hashtags' # needs a name to join
del df_hashtag['hashtags']
final = df_hashtag.join(s)

# It group the data frame by the following 2 columns, user_screen_name and hashtags
result = final.groupby(['user_screen_name', 'hashtags']).size().to_frame(name = 'Count').reset_index()

# This sorts the dataframe again with desceding order and only keeps the top 30 observations per Twitter user
result = result.sort_values(['user_screen_name','Count'],ascending=False).groupby('user_screen_name').head(number).reset_index()
hashtag_result = result.drop('index', axis=1)

print("The Top", number, "Most Frequently Used Hashtags from", input_users, ": \n", hashtag_result)

The Top 20 Most Frequently Used Hashtags from ['tsmullaney', 'hild_de'] :
    user_screen_name              hashtags  Count
0        tsmullaney          computerfire     31
1        tsmullaney       academictwitter     21
2        tsmullaney              firstgen     19
3        tsmullaney               covid19     10
4        tsmullaney          aftereffects      6
5        tsmullaney     firstgenprofessor      6
6        tsmullaney                flotus      6
7        tsmullaney                tiktok      6
8        tsmullaney               chinese      5
9        tsmullaney      firstgenacademic      4
10       tsmullaney            humblebrag      4
11       tsmullaney              stanford      4
12       tsmullaney             computing      3
13       tsmullaney       humanities4ever      3
14       tsmullaney  yourcomputerisonfire      3
15       tsmullaney              academia      2
16       tsmullaney      blacklivesmatter      2
17       tsmullaney          boycottmulan      2
18       tsmullaney              cdcforum      2
19       tsmullaney       chinesecomputer      2
20          hild_de              medieval    174
21          hild_de                    dh    102
22          hild_de              highered    102
23          hild_de               chinese     64
24          hild_de                 china     63
25          hild_de           earlymodern     56
26          hild_de               history     56
27          hild_de                markus     51
28          hild_de        digitalhistory     37
29          hild_de              xinjiang     37
30          hild_de     digitalhumanities     36
31          hild_de             woinactie     35
32          hild_de            openaccess     31
33          hild_de              hongkong     28
34          hild_de           coronavirus     26
35          hild_de                leiden     26
36          hild_de                dhasia     23
37          hild_de                  asia     22
38          hild_de                    hk     22
39          hild_de                  maps     22

### Output the result of the Hashtag dataframe as a CSV file

In [ ]:
#hashtag_result.to_csv('Most_Hashtags.csv')

### Filtering the Frequency of Retweeting Twitter Accounts on the Users of Your Choice

In [ ]:
# In this cell, you will follow the similar steps from above to get your output of the frequecy of retweets used from the user(s) you selected
# first, in case you have different input of users, you will redefine the inputs and find the users selected 
df_retweet = df[df['user_screen_name'].isin(input_users)]

# Drop all NAs 
df_retweet = df_retweet[df_retweet['retweet_or_quote_screen_name'].notna()]

# It group the data frame by the following 2 columns, user_screen_name and retweet_or_quote_screen_name
result = df_retweet.groupby(['user_screen_name', 'retweet_or_quote_screen_name']).size().to_frame(name = 'Count').reset_index()

# This sorts the dataframe again with desceding order and only keeps the top 30 observations per Twitter user
result = result.sort_values(['user_screen_name','Count'],ascending=False).groupby('user_screen_name').head(number).reset_index()
retweet_result = result.drop('index', axis=1)

print("The Top", number, "Most Frequently Used Retweet Accounts from", input_users, ": \n", retweet_result)

The Top 20 Most Frequently Used Retweet Accounts from ['tsmullaney', 'hild_de'] :
    user_screen_name retweet_or_quote_screen_name  Count
0        tsmullaney                   tsmullaney    131
1        tsmullaney                     mitpress     16
2        tsmullaney                   palumboliu     12
3        tsmullaney                   histoftech      9
4        tsmullaney                      nytimes      9
5        tsmullaney                     jwassers      8
6        tsmullaney                      latimes      8
7        tsmullaney                     bjpeters      6
8        tsmullaney                 TexasTribune      5
9        tsmullaney               cloudquistador      5
10       tsmullaney              EastAsiaSciTech      4
11       tsmullaney                 RadicalAIPod      4
12       tsmullaney                 geekgalgroks      4
13       tsmullaney                     icpetrie      4
14       tsmullaney                kellyahammond      4
15       tsmullaney              medieninitiativ      4
16       tsmullaney                           AP      3
17       tsmullaney                ArvindKrishna      3
18       tsmullaney                  BennoWeiner      3
19       tsmullaney                  CDCleuphana      3
20          hild_de              AASAsianStudies     58
21          hild_de                      hild_de     41
22          hild_de                     LeidenDH     35
23          hild_de                      rensbod     26
24          hild_de                     jwassers     22
25          hild_de                timeshighered     22
26          hild_de                     DID_ACTE     20
27          hild_de                     SCMPNews     19
28          hild_de                  CraigClunas     17
29          hild_de               FairbankCenter     17
30          hild_de                      pvierth     17
31          hild_de                    LARBchina     16
32          hild_de                    NIAS_KNAW     16
33          hild_de                   tsmullaney     16
34          hild_de                 uniworldnews     16
35          hild_de                     ubleiden     15
36          hild_de                     guardian     13
37          hild_de                      nytimes     13
38          hild_de                 AsianStudies     12
39          hild_de                 BBCInOurTime     12

### Output the result of the retweet dataframe as a CSV file

In [ ]:
#retweet_result.to_csv('Most_Retweet_Accounts.csv')

## Second Approach: the old method which is slower that the first method

### Filtering the Frequency on User: tsmullaney

In [ ]:
df_tsmullaney = df[df['user_screen_name']=='tsmullaney']

lst_tsmullaney = df_tsmullaney['hashtags'].dropna().str.lower().to_list()
retweet_screen_name_tsmullaney = df_tsmullaney['retweet_or_quote_screen_name'].dropna().to_list()

lst_tsmullaney_final = []
for i in range(len(lst_tsmullaney)):
    word = lst_tsmullaney[i].split(' ')
    lst_tsmullaney_final += word

lst_tsmullaney_final = pd.DataFrame(Counter(lst_tsmullaney_final).most_common(30),
                    columns=['Word', 'Frequency']).set_index('Word')

retweet_screen_name_list_tsmullaney = pd.DataFrame(Counter(retweet_screen_name_tsmullaney).most_common(30),
                    columns=['Retweet_Screen_Name', 'Frequency']).set_index('Retweet_Screen_Name')

print("The Top 30 Most Frequently Used Hashtags: \n", lst_tsmullaney_final)
print("\n")
print("The Top 30 Most Frequently Users to Retweet from: \n", retweet_screen_name_list_tsmullaney)

The Top 30 Most Frequently Used Hashtags:
                       Frequency
Word
computerfire                 31
academictwitter              21
firstgen                     19
covid19                      10
tiktok                        6
firstgenprofessor             6
flotus                        6
aftereffects                  6
chinese                       5
stanford                      4
firstgenacademic              4
humblebrag                    4
computing                     3
yourcomputerisonfire          3
humanities4ever               3
chinesecomputer               2
cdcforum                      2
comics                        2
gradschool                    2
writing                       2
firstgenprof                  2
phd                           2
academia                      2
scottatlas                    2
boycottmulan                  2
blacklivesmatter              2
guggenheim                    2
h1b                           2
trump                         2
solidarity                    2


The Top 30 Most Frequently Users to Retweet from:
                      Frequency
Retweet_Screen_Name
tsmullaney                 131
mitpress                    16
palumboliu                  12
nytimes                      9
histoftech                   9
jwassers                     8
latimes                      8
bjpeters                     6
cloudquistador               5
TexasTribune                 5
geekgalgroks                 4
EastAsiaSciTech              4
RadicalAIPod                 4
icpetrie                     4
kellyahammond                4
medieninitiativ              4
dgolumbia                    3
ArvindKrishna                3
FastCompany                  3
ContextualAlt                3
CDCleuphana                  3
tamigraph                    3
VentureBeat                  3
WellsLucasSanto              3
andrealstanton               3
AP                           3
thehill                      3
bopinion                     3
JoeBiden                     3
BennoWeiner                  3

### Filtering the Frequency on User: hild_de

In [ ]:
df_hild_de = df[df['user_screen_name']=='hild_de']

lst_hild_de = df_hild_de['hashtags'].dropna().str.lower().to_list()
retweet_screen_name_hild_de= df_hild_de['retweet_or_quote_screen_name'].dropna().to_list()

retweet_screen_name_list_hild_de = pd.DataFrame(Counter(retweet_screen_name_hild_de).most_common(30),
                    columns=['Retweet_Screen_Name', 'Frequency']).set_index('Retweet_Screen_Name')

lst_hild_de_final = []

for i in range(len(lst_hild_de)):
    word = lst_hild_de[i].split(' ')
    lst_hild_de_final += word

lst_hild_de_final = pd.DataFrame(Counter(lst_hild_de_final).most_common(30),
                    columns=['Word', 'Frequency']).set_index('Word')
                    
print("The Top 30 Most Frequently Used Hashtags: \n", lst_hild_de_final)
print("\n")
print("The Top 30 Most Frequently Users to Retweet from: \n", retweet_screen_name_list_hild_de)

The Top 30 Most Frequently Used Hashtags:
                    Frequency
Word
medieval                 174
dh                       102
highered                 102
chinese                   64
china                     63
earlymodern               56
history                   56
markus                    51
digitalhistory            37
xinjiang                  37
digitalhumanities         36
woinactie                 35
openaccess                31
hongkong                  28
leiden                    26
coronavirus               26
dhasia                    23
maps                      22
hk                        22
asia                      22
cartography               20
taiwan                    20
covid19                   19
art                       18
encyclopedias             17
education                 16
aas2019                   16
libraries                 15
publishing                15
humanities                15


The Top 30 Most Frequently Users to Retweet from:
                      Frequency
Retweet_Screen_Name
AASAsianStudies             58
hild_de                     41
LeidenDH                    35
rensbod                     26
timeshighered               22
jwassers                    22
DID_ACTE                    20
SCMPNews                    19
FairbankCenter              17
pvierth                     17
CraigClunas                 17
uniworldnews                16
LARBchina                   16
tsmullaney                  16
NIAS_KNAW                   16
ubleiden                    15
nytimes                     13
guardian                    13
BBCInOurTime                12
ankeqiang                   12
AsianStudies                12
gerritsen_anne              12
MPIWG                       11
adrianzenz                  11
hkfp                        11
WOinactie                   10
nheller                     10
iandenisjohnson             10
M__Gilbert                   9
EmCoteam                     9

### Filtering the Frequency on User: cfmeyskens

In [ ]:
df_cfmeyskens = df[df['user_screen_name']=='cfmeyskens']

lst_cfmeyskens = df_cfmeyskens['hashtags'].dropna().str.lower().to_list()
retweet_screen_name_cfmeyskens= df_cfmeyskens['retweet_or_quote_screen_name'].dropna().to_list()

retweet_screen_name_list_cfmeyskens = pd.DataFrame(Counter(retweet_screen_name_cfmeyskens).most_common(30),
                    columns=['Retweet_Screen_Name', 'Frequency']).set_index('Retweet_Screen_Name')

lst_cfmeyskens_final = []

for i in range(len(lst_cfmeyskens)):
    word = lst_cfmeyskens[i].split(' ')
    lst_cfmeyskens_final += word

lst_cfmeyskens_final = pd.DataFrame(Counter(lst_cfmeyskens_final).most_common(30),
                    columns=['Word', 'Frequency']).set_index('Word')

print("The Top 30 Most Frequently Used Hashtags: \n", lst_cfmeyskens_final)
print("\n")
print("The Top 30 Most Frequently Users to Retweet from: \n", retweet_screen_name_list_cfmeyskens)

The Top 30 Most Frequently Used Hashtags:
                     Frequency
Word
china                      17
coronavirus                 8
covid19                     6
taiwan                      4
aas2020                     4
gbleearchive                3
envhist                     2
twitterstorians             2
politics                    2
coldwar                     2
xinjiang                    2
landwars                    2
hongkong                    2
gbleearchive40              2
covid_19                    2
asianow                     2
s                           2
coronaravirus               2
hunan                       1
韶山                          1
shaoshan                    1
dccs                        1
olympics                    1
oscar                       1
chinalocalglobal            1
pornography                 1
jas                         1
蘋果日報                        1
chinareformmonitor          1
chinaafrica                 1


The Top 30 Most Frequently Users to Retweet from:
                      Frequency
Retweet_Screen_Name
Dali_Yang                   52
EvanFeigenbaum              34
fravel                      33
jwassers                    25
vshih2                      25
guo_xuguang                 24
JeremyJierong               15
ehundman                    15
philip_thai                 15
adam_tooze                  15
JohnDelury                  14
DGTam86                     13
cfmeyskens                  12
sebastianveghk              12
michaelxpettis              12
MichaelSzonyi               11
DrRadchenko                 11
Joshua_Eisenman             10
andybliu                    10
JosephTorigian              10
KennedyCSIS                 10
jayjamescarter              10
JimMillward                 10
DubstepInDPRK                9
dfedman                      9
hirako13                     9
emilybaumUCI                 8
JChengWSJ                    8
naazneenbarma                8
CJCourtneyWuhan              8

### Filtering the Frequency on User: AmandaUCSC

In [ ]:
df_AmandaUCSC = df[df['user_screen_name']=='AmandaUCSC']

lst_AmandaUCSC = df_AmandaUCSC['hashtags'].dropna().str.lower().to_list()
retweet_screen_name_AmandaUCSC= df_AmandaUCSC['retweet_or_quote_screen_name'].dropna().to_list()

retweet_screen_name_list_AmandaUCSC = pd.DataFrame(Counter(retweet_screen_name_AmandaUCSC).most_common(30),
                    columns=['Retweet_Screen_Name', 'Frequency']).set_index('Retweet_Screen_Name')

lst_AmandaUCSC_final = []

for i in range(len(lst_AmandaUCSC)):
    word = lst_AmandaUCSC[i].split(' ')
    lst_AmandaUCSC_final += word

lst_AmandaUCSC_final = pd.DataFrame(Counter(lst_AmandaUCSC_final).most_common(30),
                    columns=['Word', 'Frequency']).set_index('Word')

print("The Top 30 Most Frequently Used Hashtags: \n", lst_AmandaUCSC_final)
print("\n")
print("The Top 30 Most Frequently Users to Retweet from: \n", retweet_screen_name_list_AmandaUCSC)

The Top 30 Most Frequently Used Hashtags:
                      Frequency
Word
digitalasiaconf             71
aas2017                     55
china                       30
aas2016                     20
datech2017                  18
dh                          16
maoistlegacy                13
breaking                    13
digitalhumanities           12
chinese                     11
dhasia                      10
greennewdeal                 7
aha18                        7
update                       7
twitterstorians              6
sporthistory                 6
goldengamesnus               6
coldwarhist                  6
paris                        6
coldwarsport                 5
sportsdiplomacy              5
dh2018                       5
history                      5
ilooklikeahistorian          5
otd                          5
sport                        4
taiwan                       4
omeka10years                 4
markus                       4
mansplainingchina            4


The Top 30 Most Frequently Users to Retweet from:
                      Frequency
Retweet_Screen_Name
maoistlegacy               113
relevantorgans              64
manwhohasitall              51
AcademicsSay                46
LetaHong                    44
hild_de                     40
halfthesky49                36
jwassers                    28
sunrisemvmt                 27
AFP                         27
asiafile                    27
pvierth                     24
astrokatey                  22
tsmullaney                  21
lempika7                    21
dancohen                    20
savetheredwoods             18
yyvonwang                   18
ChuBailiang                 18
cfmeyskens                  16
kmlawson                    16
CWIHP                       16
schneiderfa77               16
SempervirensFnd             15
aschristy                   14
mcgreenesd                  14
GeorgeMonbiot               13
ucsc_omi                    13
nick_kapur                  13
emergence_zine              12

### Filtering the Frequency on User: ankeqiang

In [ ]:
df_ankeqiang = df[df['user_screen_name']=='ankeqiang']

lst_ankeqiang = df_ankeqiang['hashtags'].dropna().str.lower().to_list()
retweet_screen_name_ankeqiang = df_ankeqiang['retweet_or_quote_screen_name'].dropna().to_list()

retweet_screen_name_list_ankeqiang = pd.DataFrame(Counter(retweet_screen_name_ankeqiang).most_common(30),
                    columns=['Retweet_Screen_Name', 'Frequency']).set_index('Retweet_Screen_Name')

lst_ankeqiang_final = []

for i in range(len(lst_ankeqiang)):
    word = lst_ankeqiang[i].split(' ')
    lst_ankeqiang_final += word

lst_ankeqiang_final = pd.DataFrame(Counter(lst_ankeqiang_final).most_common(30),
                    columns=['Word', 'Frequency']).set_index('Word')

print("The Top 30 Most Frequently Used Hashtags: \n", lst_ankeqiang_final)
print("\n")
print("The Top 30 Most Frequently Users to Retweet from: \n", retweet_screen_name_list_ankeqiang)

The Top 30 Most Frequently Used Hashtags:
                    Frequency
Word
histchine6               567
ihn                      197
histtaiwan6               75
histchine                 56
histnum                   42
ccasioc                   42
sinq15                    36
eoaease                   24
histchine5                22
semmethodo                22
histtaiwan                18
enpchina                  15
histchina6                14
feedly                    14
digitalhumanities         11
sine14                    10
hspatial                   8
hustchine6                 3
china                      3
semmetho                   3
蘋果日報                       2
hkpolice                   2
demainamu                  2
ihnamu                     2
enp                        2
infographic                2
forbiddencity              2
palacemuseum               2
mustread                   2
virtshai                   2


The Top 30 Most Frequently Users to Retweet from:
                      Frequency
Retweet_Screen_Name
demosisto                    3
Calligramien                 3
KongTsungGan                 2
IAO_Lyon                     2
CentreChine                  2
JELEO2T                      2
CulturalTaiwan               2
ZhangZhulin                  2
Pr_Logos                     1
ecritac                      1
SPugeaultProf                1
DigiOrientalist              1
ihptaiwan                    1
JLPinol                      1
MaitronD                     1
pybaubry                     1
LiYuan6                      1
bickers                      1
DavidRumseyMaps              1
CCCblogUoW                   1
EURICS1                      1
LeoAW                        1
adrianzenz                   1
myetcetera                   1
studioincendo                1
hkfp                         1
krislc                       1
nikki_miumiu                 1
hoccgoomusic                 1
HkrevInfo                    1

### Filtering the Frequency on User: vischina

In [ ]:
df_vischina = df[df['user_screen_name']=='vischina']

lst_vischina = df_vischina['hashtags'].dropna().str.lower().to_list()
retweet_screen_name_vischina = df_vischina['retweet_or_quote_screen_name'].dropna().to_list()

retweet_screen_name_list_vischina = pd.DataFrame(Counter(retweet_screen_name_vischina).most_common(30),
                    columns=['Retweet_Screen_Name', 'Frequency']).set_index('Retweet_Screen_Name')

lst_vischina_final = []

for i in range(len(lst_vischina)):
    word = lst_vischina[i].split(' ')
    lst_vischina_final += word

lst_vischina_final = pd.DataFrame(Counter(lst_vischina_final).most_common(30),
                    columns=['Word', 'Frequency']).set_index('Word')

print("The Top 30 Most Frequently Used Hashtags: \n", lst_vischina_final)
print("\n")
print("The Top 30 Most Frequently Users to Retweet from: \n", retweet_screen_name_list_vischina)

The Top 30 Most Frequently Used Hashtags:
                               Frequency
Word
china                               219
chinesehistory                      217
history                             215
historicalphotos                    165
historicalphotographsofchina        156
shanghai                             64
beijing                              59
hongkong                             50
explorechina                         40
chineseculture                       37
tianjin                              35
travelchina                          34
tientsin                             31
oldchina                             30
photography                          30
historyphotographed                  29
shanghaihistory                      28
hongkonghistory                      24
historyinphotos                      24
photooftheday                        22
guangzhou                            20
beijinglife                          18
canton                               17
北京                                   17
chinesenewyear                       17
universityofbristol                  17
everydaychina                        16
qingdynasty                          16
historyinpictures                    15
britishhistory                       15


The Top 30 Most Frequently Users to Retweet from:
                      Frequency
Retweet_Screen_Name
bickers                     52
tongbingxue                 29
GardensOfChina              26
chinafamilies               17
hongkonghistory             13
chinarhyming                13
CraigClunas                 11
UoBrisHistory               10
ukpcn                        9
ClassicChina                 9
vischina                     8
beijingxfoot                 8
hkheritage                   8
jmchatwin                    7
SOAS_SpecColl                6
Friends_UoB_TC               6
QUBSC                        6
SabrinaThePhD                6
CJCourtneyWuhan              5
BrisUniSpColl                5
GBLee                        5
ShanghaiArtDeco              5
PhotoOfChina                 5
HelenWangLondon              4
jayjamescarter               4
BristolUni                   4
gbarrett_hist                3
bristolmuseum                3
BookReviewsAsia              3
SwireArchives                3

### Combine All Users' Retweet Accounts Inforamtion into One

In [ ]:
# Combine the First Two Twitter users into one
frames = [retweet_screen_name_list_tsmullaney, retweet_screen_name_list_hild_de]

result = pd.merge(retweet_screen_name_list_tsmullaney, retweet_screen_name_list_hild_de, on=[retweet_screen_name_list_tsmullaney.index, retweet_screen_name_list_hild_de.index])

col = result.pop("Frequency_x")
result.insert(1, "Frequency_x", col)
result

              key_0  Frequency_x            key_1  Frequency_y
0        tsmullaney          131  AASAsianStudies           58
1          mitpress           16          hild_de           41
2        palumboliu           12         LeidenDH           35
3           nytimes            9          rensbod           26
4        histoftech            9    timeshighered           22
5          jwassers            8         jwassers           22
6           latimes            8         DID_ACTE           20
7          bjpeters            6         SCMPNews           19
8    cloudquistador            5   FairbankCenter           17
9      TexasTribune            5          pvierth           17
10     geekgalgroks            4      CraigClunas           17
11  EastAsiaSciTech            4     uniworldnews           16
12     RadicalAIPod            4        LARBchina           16
13         icpetrie            4       tsmullaney           16
14    kellyahammond            4        NIAS_KNAW           16
15  medieninitiativ            4         ubleiden           15
16        dgolumbia            3          nytimes           13
17    ArvindKrishna            3         guardian           13
18      FastCompany            3     BBCInOurTime           12
19    ContextualAlt            3        ankeqiang           12
20      CDCleuphana            3     AsianStudies           12
21        tamigraph            3   gerritsen_anne           12
22      VentureBeat            3            MPIWG           11
23  WellsLucasSanto            3       adrianzenz           11
24   andrealstanton            3             hkfp           11
25               AP            3        WOinactie           10
26          thehill            3          nheller           10
27         bopinion            3  iandenisjohnson           10
28         JoeBiden            3       M__Gilbert            9
29      BennoWeiner            3         EmCoteam            9

In [ ]:
# Combine the Third and Fourth Twitter users into one
result_one = pd.merge(retweet_screen_name_list_cfmeyskens, retweet_screen_name_list_AmandaUCSC, on=[retweet_screen_name_list_cfmeyskens.index, retweet_screen_name_list_AmandaUCSC.index])

col = result_one.pop("Frequency_x")
result_one.insert(1, "Frequency_x", col)
result_one

              key_0  Frequency_x            key_1  Frequency_y
0         Dali_Yang           52     maoistlegacy          113
1    EvanFeigenbaum           34   relevantorgans           64
2            fravel           33   manwhohasitall           51
3          jwassers           25     AcademicsSay           46
4            vshih2           25         LetaHong           44
5       guo_xuguang           24          hild_de           40
6     JeremyJierong           15     halfthesky49           36
7          ehundman           15         jwassers           28
8       philip_thai           15      sunrisemvmt           27
9        adam_tooze           15              AFP           27
10       JohnDelury           14         asiafile           27
11          DGTam86           13          pvierth           24
12       cfmeyskens           12       astrokatey           22
13   sebastianveghk           12       tsmullaney           21
14   michaelxpettis           12         lempika7           21
15    MichaelSzonyi           11         dancohen           20
16      DrRadchenko           11  savetheredwoods           18
17  Joshua_Eisenman           10        yyvonwang           18
18         andybliu           10      ChuBailiang           18
19   JosephTorigian           10       cfmeyskens           16
20      KennedyCSIS           10         kmlawson           16
21   jayjamescarter           10            CWIHP           16
22      JimMillward           10    schneiderfa77           16
23    DubstepInDPRK            9  SempervirensFnd           15
24          dfedman            9        aschristy           14
25         hirako13            9       mcgreenesd           14
26     emilybaumUCI            8    GeorgeMonbiot           13
27        JChengWSJ            8         ucsc_omi           13
28    naazneenbarma            8       nick_kapur           13
29  CJCourtneyWuhan            8   emergence_zine           12

In [ ]:
# Combine the Fifth and Sixth Twitter users into one
result_two = pd.merge(retweet_screen_name_list_ankeqiang, retweet_screen_name_list_vischina , on=[retweet_screen_name_list_ankeqiang.index, retweet_screen_name_list_vischina.index])

col = result_two.pop("Frequency_x")
result_two.insert(1, "Frequency_x", col)
result_two

              key_0  Frequency_x            key_1  Frequency_y
0         demosisto            3          bickers           52
1      Calligramien            3      tongbingxue           29
2      KongTsungGan            2   GardensOfChina           26
3          IAO_Lyon            2    chinafamilies           17
4       CentreChine            2  hongkonghistory           13
5           JELEO2T            2     chinarhyming           13
6    CulturalTaiwan            2      CraigClunas           11
7       ZhangZhulin            2    UoBrisHistory           10
8          Pr_Logos            1            ukpcn            9
9           ecritac            1     ClassicChina            9
10    SPugeaultProf            1         vischina            8
11  DigiOrientalist            1     beijingxfoot            8
12        ihptaiwan            1       hkheritage            8
13          JLPinol            1        jmchatwin            7
14         MaitronD            1    SOAS_SpecColl            6
15         pybaubry            1   Friends_UoB_TC            6
16          LiYuan6            1            QUBSC            6
17          bickers            1    SabrinaThePhD            6
18  DavidRumseyMaps            1  CJCourtneyWuhan            5
19       CCCblogUoW            1    BrisUniSpColl            5
20          EURICS1            1            GBLee            5
21            LeoAW            1  ShanghaiArtDeco            5
22       adrianzenz            1     PhotoOfChina            5
23       myetcetera            1  HelenWangLondon            4
24    studioincendo            1   jayjamescarter            4
25             hkfp            1       BristolUni            4
26           krislc            1    gbarrett_hist            3
27     nikki_miumiu            1    bristolmuseum            3
28     hoccgoomusic            1  BookReviewsAsia            3
29        HkrevInfo            1    SwireArchives            3

In [ ]:
dfs = [result, result_one, result_two]
result_1 = pd.concat(dfs, join='outer', axis=1)
result_1 = result_1.set_axis(['tsmullaney', 'Frequency', 'hild_de', 'Frequency', 'cfmeyskens', 'Frequency', 'AmandaUCSC', 'Frequency', 'ankeqiang', 'Frequency', 'vischina', 'Frequency'], axis='columns')
result_1

         tsmullaney  Frequency  ...         vischina  Frequency
0        tsmullaney        131  ...          bickers         52
1          mitpress         16  ...      tongbingxue         29
2        palumboliu         12  ...   GardensOfChina         26
3           nytimes          9  ...    chinafamilies         17
4        histoftech          9  ...  hongkonghistory         13
5          jwassers          8  ...     chinarhyming         13
6           latimes          8  ...      CraigClunas         11
7          bjpeters          6  ...    UoBrisHistory         10
8    cloudquistador          5  ...            ukpcn          9
9      TexasTribune          5  ...     ClassicChina          9
10     geekgalgroks          4  ...         vischina          8
11  EastAsiaSciTech          4  ...     beijingxfoot          8
12     RadicalAIPod          4  ...       hkheritage          8
13         icpetrie          4  ...        jmchatwin          7
14    kellyahammond          4  ...    SOAS_SpecColl          6
15  medieninitiativ          4  ...   Friends_UoB_TC          6
16        dgolumbia          3  ...            QUBSC          6
17    ArvindKrishna          3  ...    SabrinaThePhD          6
18      FastCompany          3  ...  CJCourtneyWuhan          5
19    ContextualAlt          3  ...    BrisUniSpColl          5
20      CDCleuphana          3  ...            GBLee          5
21        tamigraph          3  ...  ShanghaiArtDeco          5
22      VentureBeat          3  ...     PhotoOfChina          5
23  WellsLucasSanto          3  ...  HelenWangLondon          4
24   andrealstanton          3  ...   jayjamescarter          4
25               AP          3  ...       BristolUni          4
26          thehill          3  ...    gbarrett_hist          3
27         bopinion          3  ...    bristolmuseum          3
28         JoeBiden          3  ...  BookReviewsAsia          3
29      BennoWeiner          3  ...    SwireArchives          3

[30 rows x 12 columns]

In [ ]:
#result_1.to_csv('Most_Retweet_Accounts.csv')