
Assignment 1 Part 1: Graph Class

In [ ]:
graph_elements = { "Apple" : ["Banana","Cherry"],
                "Banana" : ["Apple", "Durian"],
                "Cherry" : ["Apple", "Durian"],
                "Durian" : ["Orange"],
                "Orange" : ["Durian"]
                }

class graph:

    def __init__(self, value=None):
      self.value = value

    def getVertices(self):
      return list(self.value.keys())

    def getEdges(self):
      return self.edges()

    def edges(self):
        edgelist = []
        for vertex in self.value:
            for neighbor in self.value[vertex]:
                if {neighbor, vertex} not in edgelist:
                    edgelist.append({vertex, neighbor})
        return edgelist

g = graph(graph_elements)


print(g.getVertices())
print(g.getEdges())

['Apple', 'Banana', 'Cherry', 'Durian', 'Orange']
[{'Apple', 'Banana'}, {'Cherry', 'Apple'}, {'Durian', 'Banana'}, {'Cherry', 'Durian'}, {'Orange', 'Durian'}]

Depth First Traversal of a graph

In [ ]:
def depth_first_search(graph, start, visited=None):
  if visited is None:
    visited = set()
  visited.add(start)

  #print(start)

  for next in graph[start] - visited:
    depth_first_search(graph, next, visited)
  return visited

graph = {'Apple': set(['Banana', 'Cherry']),
         'Banana': set(['Apple', 'Durian', 'Orange']),
         'Cherry': set(['Apple']),
         'Durian': set(['Banana', 'Orange']),
         'Orange': set(['Cherry', 'Durian'])
         }


depth_first_search(graph, 'Banana')

{'Apple', 'Banana', 'Cherry', 'Durian', 'Orange'}

Breadth-First Traversal of a Graph

In [ ]:
import collections

def breadth_first_search(graph, root):

    visited, queue = set(), collections.deque([root])
    visited.add(root)

    while queue:

        vertex = queue.popleft()
        print(str(vertex) + " ", end="")

        for neighbour in graph[vertex]:
            if neighbour not in visited:
                visited.add(neighbour)
                queue.append(neighbour)


if __name__ == '__main__':

    graph = {0: [1, 2], 
             1: [0, 2], 
             2: [3], 
             3: [1, 2]
             }


breadth_first_search(graph, 1)

1 0 2 3

Assignment 1 Part 2: Election Data Search

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/data/')
data_dir = '/data/My Drive/Colab Notebooks/FEC dataset'
!ls '/data/My Drive/Colab Notebooks/FEC dataset'

Drive already mounted at /data/; to attempt to forcibly remount, call drive.mount("/data/", force_remount=True).
ccl20.zip	     cm_header_file.csv  pas220.zip
ccl_header_file.csv  cn20.zip		 pas2_header_file.csv
cm20.zip	     cn_header_file.csv

Search on 'CN20.zip' folder

In [ ]:
from zipfile import ZipFile

header = pd.read_csv(data_dir+'/cn_header_file.csv')

with ZipFile(data_dir+'/cn20.zip') as zip:
  candidates = pd.read_csv(zip.open('cn.txt'), sep='|', names=header.columns)
candidates.head()

     CAND_ID                     CAND_NAME  ... CAND_ST  CAND_ZIP
0  H0AK00105                  LAMB, THOMAS  ...      AK   99654.0
1  H0AK00113             TUGATUK, RAY SEAN  ...      AK   99628.0
2  H0AK01046              CATALANO, THOMAS  ...      AK   99503.0
3  H0AL01055           CARL, JERRY LEE, JR  ...      AL   36685.0
4  H0AL01063  LAMBERT, DOUGLAS WESTLEY III  ...      AL   36527.0

[5 rows x 15 columns]

In [ ]:
candidates[candidates['CAND_NAME'].str.contains('WALKER')].head()

        CAND_ID                 CAND_NAME  ... CAND_ST  CAND_ZIP
97    H0AZ09054           WALKER, JASON S  ...      AZ   85018.0
848   H0IL15103              WALKER, ALEX  ...      IL   61938.0
1009  H0MA04168  GROSSMAN, REBECCA WALKER  ...      MA    2459.0
1391  H0NC08247          WALKER, RODNEY L  ...      NC   28388.0
1574  H0NV03108       WALKERLIEB, ZACHARY  ...      NV   89135.0

[5 rows x 15 columns]

In [ ]:
tg = candidates[(candidates['CAND_ELECTION_YR'] == 2020) & (candidates['CAND_OFFICE_ST'] == 'FL')]
tg.head()

       CAND_ID                            CAND_NAME  ... CAND_ST  CAND_ZIP
437  H0FL01112                         ROSAS, EMILY  ...      FL   33617.0
438  H0FL01120  ROMAGNANO, CHASE ANDERSON ANDY REV.  ...      FL   32513.0
439  H0FL01138                       HOWARD, CHERYL  ...      FL   32502.0
440  H0FL01146                MERK, GREGORY CHARLES  ...      FL   32514.0
441  H0FL01153                         ORAM, ALBERT  ...      FL   32507.0

[5 rows x 15 columns]

In [ ]:
len(tg.index)

242

In [ ]:
candidates[candidates['CAND_NAME'].str.contains('TRUMP, DONALD')]

        CAND_ID         CAND_NAME  ... CAND_ST  CAND_ZIP
6403  P80001571  TRUMP, DONALD J.  ...      NY   10022.0

[1 rows x 15 columns]

Search on 'Pas220.zip' folder

In [ ]:
header = pd.read_csv(data_dir+'/pas2_header_file.csv')

with ZipFile(data_dir+'/pas220.zip') as zip:
  #print(zip.namelist())
  spending = pd.read_csv(zip.open('itpas2.txt'), sep='|', names=header.columns)
spending.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10,11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

     CMTE_ID AMNDT_IND RPT_TP  ... MEMO_CD  MEMO_TEXT               SUB_ID
0  C00567180         T    TER  ...     NaN        NaN  4021920191640423011
1  C00104885         A    TER  ...     NaN        NaN  4022220191643444985
2  C00104885         A    TER  ...     NaN        NaN  4022220191643444987
3  C00104885         A    TER  ...     NaN        NaN  4022220191643444981
4  C00688408         T    TER  ...     NaN        NaN  4022420191643632157

[5 rows x 22 columns]

In [ ]:
house_spending_FL = spending[(spending['CAND_ID'].str.startswith('H')==True) & (spending['STATE']=='FL')]
df_house = house_spending_FL[['CMTE_ID', 'NAME', 'STATE', 'TRANSACTION_AMT', 'CAND_ID']]
df_house.head()

       CMTE_ID                        NAME STATE  TRANSACTION_AMT    CAND_ID
0    C00567180       TED YOHO FOR CONGRESS    FL             1880  H2FL06109
154  C00027342       HASTINGS FOR CONGRESS    FL             5000  H2FL23021
195  C00003855  DONNA SHALALA FOR CONGRESS    FL             1000  H8FL27193
256  C00339655  VERN BUCHANAN FOR CONGRESS    FL             5000  H6FL13148
421  C00035204      BILIRAKIS FOR CONGRESS    FL             1000  H6FL09070

Search on 'CM20.zip' folder

In [ ]:
header = pd.read_csv(data_dir+'/cm_header_file.csv')

with ZipFile(data_dir+'/cm20.zip') as zip:
  #print(zip.namelist())
  df = pd.read_csv(zip.open('cm.txt'), sep='|', names=header.columns)
df.head()

     CMTE_ID  ... CAND_ID
0  C00000059  ...     NaN
1  C00000422  ...     NaN
2  C00000489  ...     NaN
3  C00000547  ...     NaN
4  C00000638  ...     NaN

[5 rows x 15 columns]

In [ ]:
df_name = df[['CMTE_ID', 'CMTE_NM']]
df_name.head()

     CMTE_ID                                            CMTE_NM
0  C00000059                                 HALLMARK CARDS PAC
1  C00000422  AMERICAN MEDICAL ASSOCIATION POLITICAL ACTION ...
2  C00000489               D R I V E POLITICAL FUND CHAPTER 886
3  C00000547  KANSAS MEDICAL SOCIETY POLITICAL ACTION COMMITTEE
4  C00000638  INDIANA STATE MEDICAL ASSOCIATION POLITICAL AC...

In [ ]:
Society_Organization = df[df['CONNECTED_ORG_NM'].str.contains('SOCIETY', na=False)]
Society_Organization.head()

       CMTE_ID  ... CAND_ID
3    C00000547  ...     NaN
11   C00001180  ...     NaN
37   C00003152  ...     NaN
51   C00003970  ...     NaN
136  C00012211  ...     NaN

[5 rows x 15 columns]

In [ ]:
len(Society_Organization.index)

28

Search on 'CCL20.zip' folder

In [ ]:
header = pd.read_csv(data_dir+'/ccl_header_file.csv')

with ZipFile(data_dir+'/ccl20.zip') as zip:
  #print(zip.namelist())
  linkage = pd.read_csv(zip.open('ccl.txt'), sep='|', names=header.columns)

linkage.head()

     CAND_ID  CAND_ELECTION_YR  FEC_ELECTION_YR  ... CMTE_TP CMTE_DSGN LINKAGE_ID
0  C00713602              2019             2020  ...       O         U     228963
1  H0AK00105              2020             2020  ...       H         P     229250
2  H0AL01055              2020             2020  ...       H         P     226125
3  H0AL01063              2020             2020  ...       H         P     227053
4  H0AL01071              2020             2020  ...       H         P     227054

[5 rows x 7 columns]

In [ ]:
df1 = pd.concat([candidates, linkage, df], axis=1, sort=False).reset_index()

In [ ]:
df1.head()

   index    CAND_ID  ...        CONNECTED_ORG_NM CAND_ID
0      0  H0AK00105  ...                     NaN     NaN
1      1  H0AK00113  ...    DELAWARE MEDICAL PAC     NaN
2      2  H0AK01046  ...                     NaN     NaN
3      3  H0AL01055  ...  KANSAS MEDICAL SOCIETY     NaN
4      4  H0AL01063  ...                     NaN     NaN

[5 rows x 38 columns]

In [ ]:
df2 = pd.merge(candidates, linkage, on='CAND_ID')
df2.head()

     CAND_ID                     CAND_NAME  ... CMTE_DSGN  LINKAGE_ID
0  H0AK00105                  LAMB, THOMAS  ...         P      229250
1  H0AL01055           CARL, JERRY LEE, JR  ...         P      226125
2  H0AL01063  LAMBERT, DOUGLAS WESTLEY III  ...         P      227053
3  H0AL01071     PRINGLE, CHRISTOPHER PAUL  ...         P      227054
4  H0AL01089               HIGHTOWER, BILL  ...         P      227266

[5 rows x 21 columns]

In [ ]:
df_merge = pd.merge(df2, df_name, on='CMTE_ID')
#df_merge.head()

df_sort = df_merge[['CAND_ID', 'CAND_NAME', 'CAND_ST', 'CMTE_NM']]

In [ ]:
df_sort[df_sort['CAND_ST']=='FL'].head(10)

       CAND_ID  ...                                            CMTE_NM
7    H0AL01113  ...                         ANDY FOR NORTHWEST FLORIDA
8    H0FL01120  ...                         ANDY FOR NORTHWEST FLORIDA
14   H0FL02110  ...  FRESHMAN AGRICULTURAL REPUBLICAN MEMBERS TRUST...
381  H0FL01120  ...               ANDY ROMAGNANO FOR NORTHWEST FLORIDA
382  H0FL01138  ...     CHERYL HOWARD FOR U S HOUSE OF REPRESENTATIVES
383  H0FL01146  ...                                 GREG MERK CAMPAIGN
384  H0FL01153  ...                                  ORAM FOR CONGRESS
386  H0FL02193  ...                           ANDERSON FOR US CONGRESS
387  H0FL02219  ...                         KRISTY THRIPP FOR CONGRESS
388  H0FL03118  ...                            DEAN BLACK FOR CONGRESS

[10 rows x 4 columns]

In [ ]:
df_sort_house = pd.merge(df_sort, df_house, on='CAND_ID')
df_sort_house.head()

     CAND_ID            CAND_NAME  ... STATE TRANSACTION_AMT
0  H0AL02087         ROBY, MARTHA  ...    FL             750
1  H0AL02087         ROBY, MARTHA  ...    FL             750
2  H0GA08099  SCOTT, JAMES AUSTIN  ...    FL             750
3  H0GA08099  SCOTT, JAMES AUSTIN  ...    FL             750
4  H0GA08099  SCOTT, JAMES AUSTIN  ...    FL             750

[5 rows x 8 columns]

In [ ]:
df_sort_house['TRANSACTION_AMT'].sum()

17474528